*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue ;
}
section{
    background-color: cadetblue;
    margin: 5rem;
    width: 30rem;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.5rem black;
}
header{
    display: flex;
    justify-content: center;
}
#heading{
    margin: 2rem;
    padding: 0.5rem;
    background-color: #fff;
    /* border: 0.25rem dashed black; */
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.5rem black;
}
#tasks{
    margin-top: 2rem;
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#taskArea{
    width: 24rem;
    margin-right: 0.3rem;
    border-radius: 0.3rem;
    box-shadow: 0.1rem 0.1rem 0.1rem black;
}
#addBtn{
    width: 3rem;
    height: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.1rem black;
}
#addBtn:hover{
    background-color: greenyellow;
}
.allItems{
    display: grid;
    grid-template-columns: 20rem 3rem 1%;
    align-items: center;
    justify-content: center;
}
.allItems p{
    background-color: #fff;
    height: 2rem;
    margin: .5rem;
    padding:0.5rem 0rem 0.8rem 0.9rem ;
    text-align: start;
    border-radius: 0.51rem;
    background-color: cornsilk;
    box-shadow: 0.1rem 0.1rem 0.2rem brown;
}
.trash{
    width: 3rem;
    height: 2rem;
    border-radius: 0.5rem;
}
.trash:hover{
    background-color: orangered;
}