*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: cyan ;
}
header{
    display: flex;
    justify-content: center;
}
#heading{
    margin: 1rem;
    padding: 0.5rem;
    border: 0.25rem dashed black;
}